* {
  font-family: "EF_Diary";
  font-size: 20px;
  margin: 10px auto;
  background-color: #fbf8be;
}

.react-calendar {
  background-color: #fbf8be;
  width: 450px;
  border: none;
  margin-right: -20px;
}

.react-calendar__month-view {
  background-color: green;
  /* width: 100%; */
}

.react-calendar__tile.react-calendar__month-view__days__day {
  height: 59px;
  background-color: white;
  border: 1px solid #234e70;
}

.react-calendar__tile.react-calendar__month-view__days__day > abbr {
  background-color: white;
  font-size: 20px;
}

/*★*/
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #234e70;
}

.react-calendar__tile--active:enabled:focus > abbr {
  background-color: #234e70;
}

.react-calendar__tile--active {
  background: #234e70;
  color: #fbf8be;
}

.react-calendar__month-view__weekdays {
  /* background-color: green; */
  align-items: center;
  height: 39px;
}

.react-calendar__month-view__weekdays__weekday {
  height: 60px;
  border: 1px solid rgb(208, 208, 208);
  /* margin-top: px; */
  background-color: #234e70;
}

.react-calendar__month-view__weekdays__weekday > abbr {
  background-color: #234e70;
  color: #fbf8be;
  font-weight: lighter;
  display: flex;
  justify-content: center;
}

.react-calendar__navigation {
  margin: 0px 0px -10px 0px;
  background-color: #fbf8be;
}

.react-calendar__navigation__label__labelText {
  background-color: #fbf8be;
  font-weight: bold;
}
/* -----------Home-------------- */

/* ----------CheckList--------------- */

::marker {
  color: transparent;
}
